/* Code tidied up by ScrapBook */
.extra-wrap { overflow: hidden; display: block; }
.container_12 { position: relative; width: 960px; margin: 0px auto; padding: 0px; }
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 { float: left; display: inline; margin-left: 5px; margin-right: 5px; }
.container_12 .grid_2 { width: 140px; }
.container_12 .grid_3 { width: 220px; }
.container_12 .grid_4 { width: 300px; }
.container_12 .grid_6 { width: 460px; }
.container_12 .grid_10 { width: 780px; }
.container_12 .grid_12 { width: 940px; }
@media only screen and (max-width: 995px) {
  .container_12 { width: 768px; }
  .container_12 .grid_2 { width: 108px; }
  .container_12 .grid_3 { width: 172px; }
  .container_12 .grid_4 { width: 236px; }
  .container_12 .grid_6 { width: 364px; }
  .container_12 .grid_10 { width: 620px; }
  .container_12 .grid_12 { width: 748px; }
}
@media only screen and (max-width: 767px) {
  .container_12 { width: 420px; }
  .container_12 .grid_1, .container_12 .grid_2, .container_12 .grid_3, .container_12 .grid_4, .container_12 .grid_5, .container_12 .grid_6, .container_12 .grid_7, .container_12 .grid_8, .container_12 .grid_9, .container_12 .grid_10, .container_12 .grid_11, .container_12 .grid_12 { width: 100%; margin-left: 0px; margin-right: 0px; }
  .container_12 .grid_1, .container_12 .grid_2, .container_12 .grid_3, .container_12 .grid_4, .container_12 .grid_5, .container_12 .grid_6, .container_12 .grid_7, .container_12 .grid_8, .container_12 .grid_9, .container_12 .grid_10, .container_12 .grid_11 { margin-bottom: 0px; }
}
@media only screen and (max-width: 479px) {
  .container_12 { width: 300px; }
}
.container_12::after { content: " "; display: block; height: 0px; clear: both; visibility: hidden; }
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0px; height: 0px; }
