/* Code tidied up by ScrapBook */
@import url("reset.css");
@import url("skeleton.css");
@import url("superfish.css");
@import url("ui.totop.css");
@import url("forms.css");
@import url("css_002.css");
body { background-image: url("bg.jpg"); background-color: rgb(255, 255, 255); font: 14px/21px Arial,Helvetica,sans-serif; color: rgb(39, 39, 39); position: relative; min-width: 1100px; padding-top: 45px; }
.adress_box { width: 240px; font-size: 18px; font-family: "Signika",sans-serif; font-weight: normal; color: rgb(194, 193, 193); margin: 10px auto 0px; padding: 0px 0px 5px 15px; border-bottom: 1px solid rgb(51, 51, 51); }
.adress_box span { margin-right: 10px; }
.box-ofert { margin-top: 10px; padding: 5px; background: rgb(250, 250, 250) none repeat scroll 0% 0%; border-style: solid; border-color: rgb(232, 232, 232); border-width: 1px 3px 3px 1px; border-radius: 5px; }
.box-ofert h2, .box-ofert h3 { margin-top: 15px; }
* { -moz-text-size-adjust: none; }
.floatright { float: right; }
.floatleft { float: left; }
html, body { height: 100%; }
p { padding-bottom: 15px; padding-top: 5px; text-align: justify; }
a { color: rgb(89, 157, 34); outline: medium none; cursor: pointer; text-decoration: none; }
a:hover { text-decoration: underline; }
h1, h2, h3, h4, h5, h6 { line-height: 1em; color: rgb(39, 39, 39); font-family: "Signika",sans-serif; font-weight: normal; text-transform: uppercase; margin-top: 42px; letter-spacing: -1px; }
h2 { font-size: 30px; }
.extra-wrap { overflow: hidden; display: block; }
.last2 { padding-bottom: 0px ! important; background: transparent url("bg1.gif") repeat scroll center 0px; }
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0px; background: rgb(255, 255, 255) url("bg1.gif") no-repeat scroll 0px 0px; height: 0px; }
.bg { background: rgb(255, 255, 255) none repeat scroll 0% 0%; margin: 0px auto 30px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15); width: 1094px; }
#slider { z-index: 1; position: relative; }
#faded { width: 100%; }
#faded .slider-content { width: 100%; height: 380px; position: relative; margin: 20px 0px 0px; overflow: hidden; border: 1px solid rgb(255, 255, 255); }
#faded .slider-content img { width: 100%; }
ul.pagination { padding: 2px 0px 5px; height: 26px; position: absolute; right: 10px; bottom: 10px; z-index: 999; }
ul.pagination li { padding-bottom: 2px; margin-bottom: 5px; float: left; }
ul.pagination li a { display: block; font-size: 13px; font-weight: bold; line-height: 17px; color: rgb(216, 216, 216); text-decoration: none; position: relative; width: 20px; height: 20px; text-align: center; margin-left: 10px; }
ul.pagination li.current a, ul.pagination li a:hover { color: rgb(216, 216, 216); }
header { width: 100%; position: relative; padding-bottom: 40px; z-index: 2; }
#content { width: 100%; padding: 0px 0px 37px; border-bottom: 1px solid rgb(54, 54, 54); position: relative; z-index: 1; }
#pannels_middle { width: 100%; z-index: 1; position: relative; }
.list1 a { color: rgb(132, 132, 132); font-size: 11px; transition: all 0.4s ease 0s; text-transform: uppercase; }
.list1 a:hover { color: rgb(89, 157, 34); text-decoration: none; }
.list1 li { display: block; background: transparent url("marker1.gif") no-repeat scroll 0px 1px; padding-bottom: 12px; padding-left: 21px; line-height: 14px; }
.list1 { margin-top: 27px; }
ul.ency_container { width: 100%; position: relative; list-style: outside none none; clear: both; }
ul.ency_container > li { display: none; list-style: outside none none; padding: 0px 10px 20px; border-top: 1px solid rgb(247, 247, 247); border-bottom: 1px solid rgb(241, 241, 241); }
.link5 { text-decoration: underline; }
.link5:hover { text-decoration: none; }
.dl1 .dt { width: 190px; margin-bottom: 21px; color: rgb(255, 255, 255); }
.dl1 { margin-top: 7px; }
.dl1 span { float: left; width: 81px; }
footer { width: 100%; padding: 0px 0px 33px; }
.foot-page1 { color: rgb(25, 25, 25); margin-top: 30px; font-size: 13px; height: 15px; font-family: "Signika",sans-serif; text-transform: uppercase; }
.foot-page1 a { color: rgb(161, 161, 161); transition: all 0.4s ease 0s; }
.foot-page1 a:hover { color: rgb(89, 157, 34); text-decoration: none; }
.foot-page2 { color: rgb(107, 107, 107); font-size: 14px; padding-top: 30px; }
blockquote.style1 { font: 14px/20px italic Times,serif; padding: 8px 15px; background-color: rgb(32, 32, 32); border-top: 1px solid rgb(18, 18, 18); border-bottom: 1px solid rgb(18, 18, 18); margin: 5px; background-image: url("open-quote.png"); background-position: 10px 10px; background-repeat: no-repeat; text-indent: 23px; color: rgb(255, 255, 255); border-radius: 5px; }
blockquote.style1 span.txt { display: block; background-image: url("close-quote.png"); background-repeat: no-repeat; background-position: right bottom; }
blockquote.style1 cite { display: block; text-align: right; margin-right: 10px; margin-top: 10px; color: rgb(204, 204, 204); }
blockquote.style1 a:hover { text-decoration: none; }
.main-title { margin-bottom: 15px; font-size: 24px; }
.badge { width: 120px; height: 125px; }
.badges { margin: 0px auto; text-align: center; }
@media only screen and (min-width: 768px) and (max-width: 1120px) {
  .bg { width: 100%; }
  body { min-width: 960px; }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body { min-width: 768px; }
  .bg { width: 100%; }
  #toTop { display: none ! important; }
  #toTop { display: none; }
}
@media only screen and (max-width: 995px) {
  body { min-width: 768px; }
  .badge { width: 100px; height: 104px; }
  #toTop { display: none ! important; }
}
@media only screen and (max-width: 767px) {
  body { min-width: 420px; }
  .bg { width: 100%; }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body { min-width: 420px; }
  .bg { width: 100%; }
  .floatright { float: left; }
  .floatleft { float: right; }
  nav { border: medium none; }
}
@media only screen and (max-width: 479px) {
  .inner-block { padding: 0px 10px; }
  body { min-width: 300px; }
  .bg { width: 100%; }
  nav { border: medium none; padding-left: 0px; }
}
