/* Code tidied up by ScrapBook */
.sf-menu, .sf-menu * { margin: 0px; padding: 0px; list-style: outside none none; }
nav { padding-left: 5px; padding-top: 16px; width: 100%; box-sizing: border-box; }
.sf-menu { line-height: 1; }
.sf-menu li { float: left; margin-right: 5px; border-radius: 6px 6px 0px 0px; background: transparent url("bg-15.png") repeat scroll 0px 0px; position: relative; }
.sf-menu a { display: block; font-family: "Signika",sans-serif; color: rgb(255, 255, 255); text-transform: uppercase; padding: 10px 9px 11px; font-size: 17px; line-height: 22px; position: relative; }
.sf-menu li:hover, .sf-menu li.current, .sf-menu li.sfHover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.sf-menu ul li:hover, .sf-menu ul li.current, .sf-menu ul li.sfHover { background: transparent none repeat scroll 0% 0%; }
.sf-menu li:hover > a, .sf-menu li.current > a, .sf-menu li.sfHover > a { color: rgb(32, 32, 32); text-decoration: none; }
.sf-menu ul li:hover a, .sf-menu ul li.sfHover > a { color: rgb(145, 145, 145); background: transparent url("menu-hov.gif") repeat scroll 0px 0px; text-decoration: none; }
.sf-menu ul { position: absolute; top: -999em; width: 132px; border-bottom: 1px solid rgb(39, 39, 39); border-left: 1px solid rgb(39, 39, 39); border-right: 1px solid rgb(39, 39, 39); left: -1px; }
.sf-menu ul li { width: 100%; margin: 0px; border-radius: 0px; background: transparent none repeat scroll 0% 0%; }
.sf-menu ul a { color: rgb(39, 39, 39); font-family: Arial,Helvetica,sans-serif; font-size: 13px; line-height: 16px; text-transform: none; background: transparent url("menu-bg.gif") repeat scroll 0px 0px; padding: 12px 12px 8px 33px; }
.sf-menu li:hover { visibility: inherit; }
.sf-menu li:hover ul, .sf-menu li.sfHover ul { left: 0px; top: 43px; z-index: 99; }
@media only screen and (max-width: 995px) {
  .sf-menu a { display: block; font-family: "Signika",sans-serif; color: rgb(255, 255, 255); text-transform: uppercase; padding: 4px 12px; font-size: 11px; line-height: 11px; position: relative; }
  .sf-menu > li { padding: 12px 0px; margin-right: 5px; }
  .sf-menu > li > a { font-size: 14px; padding: 4px 0px; margin: 0px 7px 0px 5px; }
}
@media only screen and (max-width: 767px) {
  nav span, .sf-menu { display: none; }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  nav span, .sf-menu { display: none; }
}
