/* Code tidied up by ScrapBook */
#toTop { display: none; text-decoration: none; position: fixed; left: 54%; margin-left: 502px ! important; bottom: 15px; cursor: pointer; overflow: hidden; width: 34px; height: 17px; border: medium none; text-indent: -999px; z-index: 20; background: transparent url("ui.totop.png") no-repeat scroll left 0px; }
#toTop:hover { background: transparent url("ui.totop.png") no-repeat scroll left -17px; width: 34px; height: 17px; display: block; overflow: hidden; float: left; }
#toTop:active, #toTop:focus { outline: medium none; }
